body {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 1.4rem;

	color: rgb(30, 92, 209);
	background-color: rgb(246, 246, 237);
}

.container {
	margin: 0 auto;
	max-width: 33%;
}

@media (max-width: 1234px) {
	body {
		font-size: 1.2rem;
	}

	.container {
		max-width: 66%;
	}
}

@media (max-width: 799px) {
	body {
		font-size: 1rem;
	}

	.container {
		max-width: 100%;
	}
}



.bayan {
	margin: 1.25rem auto;



	&__item {
		margin: 0 0 0.62rem 0;
		border: 0.125rem solid rgb(30, 92, 209);

		border-radius: 0.36rem;


	}

	&__label {
		display: block;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 0 0.6rem 1rem;

		span {
			display: block;
			border-style: solid;
			border-width: 0.5rem 0.36rem 0 0.36rem;
			border-color: #1337db transparent transparent transparent;

			transform: translateY(-50);
		}
	}

	&__input {
		-webkit-appearance: none;
		appearance: none;

		width: 0;
		height: 0;
	}

	&__content {
		width: 0;
		height: 0;
		margin-bottom: 0;
		transition: width 0.5s, height 0.5s, margin-bottom 0.5s ease;
	}

	&__image {
		max-width: 100%;
	}

	&:hover {
		.bayan__title {
			span {
				display: block;
			}
		}
	}
}

.bayan__input:checked~.bayan__content {

	width: 100%;
	height: 100%;
}

.bayan__input:checked~.bayan__title {
	color: #000;
}

.bayan__input:checked~.bayan__title span {
	border-style: solid;
	border-width: 0 0.36rem 0.5rem 0.36rem;
	border-color: transparent transparent #000 transparent;
}

@media (hover: hover)and (pointer: fine) {

	.bayan__item,
	.bayan__title {
		cursor: pointer;
	}

	.bayan__title {
		span {
			display: none;
		}
	}



	.bayan__input:hover~.bayan__title {
		color: #000;
	}

	.bayan__item:hover .bayan__content {

		width: 100%;
		height: 100%;
	}

	.bayan__item:hover .bayan__title span {
		border-style: solid;
		border-width: 0 0.36rem 0.5rem 0.36rem;
		border-color: transparent transparent #000 transparent;
	}
}